<main class="main-content">

		<!-- section INTRO -->
		<section class="section-intro image-bg">
			<header class="section-heading">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>About Us</h1>
						</div>
					</div>
				</div>
			</header>
			<span class="color-overlay-gradient gradient1"></span>
		</section><!-- //section INTRO -->

		

		

		<!-- article ABOUT COMPANY -->
		<article class="bottom-separator">
			<!-- section heading -->
			<header class="section-heading">
				<div class="container">
					<div class="row">
						<h1><font color="orange"><b>멋쨍~이사자처럼</b></font></h1>
						<center><img src="img/doo2.jpg" alt="" height="350"></center>
					</div>
				</div>
			</header><!-- //section heading -->
			<!-- section content --> 
			<div class="section-content">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p>
								동덕여대 No_Name조가 만든 웹사이트
							</p>
							<blockquote>
								멋쟁이 사자처럼 동아리에 가입한 4기!의 동덕여대 학생들이 모여 만든 EATFOOD!<br>
								음식점 자기가 간 곳을 영화인의 앱! 왓챠처럼 평가하고 리뷰를 달 수 있습니다. <br>
								배고프다~~~ 피자 먹고 리뷰작성 해~~~~~~~~~~ 
								두희쨩 아래에 4기모여 만만쉐! .. mㅡ,,,ㅡm
							</blockquote>
							<p>
								YEAHHHHHHHHHHHHH
							</p>
						</div>
					</div>
				</div>
			</div><!-- //section content --> 
		</article><!-- //article ABOUT COMPANY -->

		<!-- section AGENTS -->
		<section class="section-agents bottom-separator">
			<!-- section heading -->
			<header class="section-heading">
				<div class="container">
					<div class="row">
						<h2>우리조 사진</h2>
						<img src="img/separation-header.png" alt="">
					</div>
				</div>
			</header><!-- //section heading -->
			
		</section><!-- //section AGENTS -->
		<div class="section-content">
				<div class="container">
					<div class="row">
						<!-- agent 1 -->
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="agent-details">
								<div class="agent-descr">
									<h3>진금주<span>팀장</span></h3>
									<p>멋쨍~이 사자처럼 </p>
								</div>
								<img src="doo2.jpg" alt="">

							</div>
						</div><!-- //agent 1 -->
						<!-- agent 2 -->
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="agent-details">
								<a href="agent-detail-fullwidth.html" class="agent-img-wrapper">
									<span class="agent-avatar agent2">
										<span class="dummy-element"></span>
										<span class="border-rombous border-hover"></span>
										<span class="dark-overlay"></span>
										<span class="item-link"></span>
									</span>
								</a>
								<div class="agent-descr">
									<h3>Sara Ellet<span>Designer</span></h3>
									<p>Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
								<img src="img/separation-double-lines.png" alt="">
								<ul class="social-buttons">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!-- //agent 2 -->
						<!-- agent 3 -->
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="agent-details">
								<a href="agent-detail-fullwidth.html" class="agent-img-wrapper">
									<span class="agent-avatar agent3">
										<span class="dummy-element"></span>
										<span class="border-rombous border-hover"></span>
										<span class="dark-overlay"></span>
										<span class="item-link"></span>
									</span>
								</a>
								<div class="agent-descr">
									<h3>Olga Delvy<span>Coder</span></h3>
									<p>Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
								<img src="img/separation-double-lines.png" alt="">
								<ul class="social-buttons">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!-- //agent 3 -->
						<!-- agent 4 -->
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="agent-details">
								<a href="agent-detail-fullwidth.html" class="agent-img-wrapper">
									<span class="agent-avatar agent4">
										<span class="dummy-element"></span>
										<span class="border-rombous border-hover"></span>
										<span class="dark-overlay"></span>
										<span class="item-link"></span>
									</span>
								</a>
								<div class="agent-descr">
									<h3>Megan Fox<span>Marketing</span></h3>
									<p>Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
								<img src="img/separation-double-lines.png" alt="">
								<ul class="social-buttons">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!-- //agent 4 -->
					</div>
				</div>
			</div><!-- //section content -->
		</section><!-- //section AGENTS -->
		
	</main><!-- //PAGE MAIN CONTENT -->